@font-face {
	font-family: PinyonScriptRegular;
	src: url('../font/PinyonScript-Regular.ttf');
}

@font-face {
	font-family: "Roboto Regular";
	src: url('../font/Roboto-Regular.ttf');
}

@font-face {
	font-family: "MerriweatherSans Regular";
	src: url('../font/MerriweatherSans-Regular.ttf');
}

body {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	background: url(../img/ticks.png) repeat;
}

/* avatar */
header #avatar {
	position: relative;
	width: 15rem;
	height: 15rem;
	border-radius: 7.5rem;
	left: 50%;
	top: 14rem;
	margin-left: -7.5rem;
}

header #avatar a img {
	position: absolute;
	display: inline-block;
	width: 15rem;
	height: 15rem;
	border-radius: 7.5rem;
}

/* title subtitle */
#author {
	position: absolute;
	top: 5rem;
	width: 100%;
}

#author h1 {
	text-align: center;
	font-family: "MerriweatherSans Regular";
	font-size: 1.8rem;
}

#author h1 a {
	text-decoration: none;
	color: #6B7178;
}


#author h2 {
	font-family: "MerriweatherSans Regular";
	text-align: center;
	color: #979DA6;
}

@media screen and (min-width: 900px) {
	header nav#nav-bar {
		position: fixed;
		top: 0;
		width: 100%;
		height: 3.6rem;
		font-family: "MerriweatherSans Regular";
		font-size: 0.9rem;
		font-weight: 600;
		background: #DBDBDB; /* #DBDBDB */
		text-align: center;
		z-index: 9;
	}

	header nav#nav-bar:before { /* 居中ul */
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	header nav#nav-bar ul {
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;
	}

	header nav#nav-bar ul li {
		display: inline-block;
		position: relative;
		margin-left: 4rem;
	}

	header nav#nav-bar ul li:nth-child(1) {
		margin-left: 0;
	}

	header nav#nav-bar ul li a {
		text-decoration: none;
		color: #6D727A;
		-webkit-transition: color 0.3s;
		transition: color 0.3s;
	}

	header nav#nav-bar ul li a:hover {
		color: rgba(247, 126, 117, 0.9);
	}

	header nav#nav-bar ul li.active a {
		color: #f77e75;
	}

	#toggle {
		display: none;
	}
}

header .social-wrapper {
	position: absolute;
	top: 31rem;
	width: 100%;
	height: 2.5rem;
	text-align: center;
}

header .social-font {
	display: inline-block; /* 让父元素的text-align:center生效 */
	width: 10rem;
	height: 2rem;
}

header .social-font a[title="zhihu"] {
	margin-left: 2rem;
}

header .social-font a[title="wechat"] {
	margin-left: 2rem;
}

header .social-font a {
	font-size: 1.6rem;
	color: #4F5359;
}


/* Article */
#container {
	display: none;
	width: 100%;
	/*position: relative;
	top: 10rem;
	left: 20%;*/
	text-align: center;
}

#container .archive-title {
	position: absolute;
	left: 10rem;
	top: 20rem;
}

#container #main {
	display: inline-block;
	width: 50%;
	text-align: left;
	margin-top: 10rem;
}

#container #main section {
	position: relative;
	font-family: "MerriweatherSans Regular", '微软雅黑';
	margin-bottom: 4rem;
}

#container #main section h1 a {
	font-size: 1.3rem;
	font-weight: normal;
	color: #4D5157;
	text-decoration: none;
}

#container #main section h1 a:hover {
	color: #f77e75;
}



	/* more link */
#container #main section a.article-more-link {
	position: absolute;
	right: -6rem;
	bottom: 0;
	display: inline-block;
	font-size: 0.7rem;
	width: 5rem;
	height: 2rem;
	border: 1px solid #f77e75;
	border-radius: 1rem;
	color: #f77e75;
	text-align: center;
	text-decoration: none;
}

#container #main section a.article-more-link:before { /* 居中span */
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

#container #main section a.article-more-link span {
	display: inline-block;
	vertical-align: middle;
}

#container #main section a.article-more-link i { /* 垂直居中 */
	display: inline-block;
	position: absolute;
	width: 12px;
	height: 12px;
	margin: auto;
	left: 0;
	right: 6rem;
	top: 0;
	bottom: 0;
	opacity: 0;
}

#container #main section a.article-more-link:hover i {
	right: 0;
	opacity: 1;
	-webkit-transition: all 1s;
	transition: all 1s;
}

#container #main section a.article-more-link:hover span {
	display: none;
}

#container #main section time {
	position: absolute;
	right: 0;
	top: 1rem;
	color: #A2A9B2;
	font-size: 0.7rem;
}

	/* paginator */
#container #main #page-nav {
	position: relative;
	width: 15rem;
	height: 2.5rem;
	margin: 0 auto;
}

#container #main #page-nav a.page-number {
	display: none;
}

#container #main #page-nav a.extend {
	position: absolute;
	display: inline-block;
	width: 25px;
	height: 25px;
	top: 50%;
}

#container #main #page-nav span {
	position: absolute;
	color: #7A808A;
	font-family: "MerriweatherSans Regular";
	font-size: 1.2rem;
	top: 1rem;
}

#container #main #page-nav span.page-number {
	left: 43%;
}

#container #main #page-nav span.separator {
	left: 50%;
	color: #BEC6D1;
}

#container #main #page-nav span.total {
	left: 56%;
}

#container #main #page-nav a.extend i {
    position: absolute;
    top: 40%;
    left: 0;
    width: 25px;
    height: 3px;
    border-radius: 1.5px;
    background: rgba(247, 126, 117, 0.5);
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

#container #main #page-nav a.extend.prev {
	left: 0;
} 

#container #main #page-nav a.extend.prev i {
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}

#container #main #page-nav a.extend.prev i:first-child {
	-webkit-transform: translate(0, -1px) rotate(40deg);
    transform: translate(0, -1px) rotate(40deg);
}

#container #main #page-nav a.extend.prev i:last-child {
	-webkit-transform: translate(0, 1px) rotate(-40deg);
    transform: translate(0, 1px) rotate(-40deg);
}

#container #main #page-nav a.extend.prev:hover i:first-child {
	-webkit-transform: translate(0, -1px) rotate(30deg);
    transform: translate(0, -1px) rotate(30deg);
}

#container #main #page-nav a.extend.prev:hover i:last-child {
	-webkit-transform: translate(0, 1px) rotate(-30deg);
    transform: translate(0, 1px) rotate(-30deg);
}

#container #main #page-nav a.extend.prev:active i:first-child {
	-webkit-transform: translate(1px, -1px) rotate(25deg);
    transform: translate(1px, -1px) rotate(25deg);
}

#container #main #page-nav a.extend.prev:active i:last-child {
	-webkit-transform: translate(1px, 1px) rotate(-25deg);
    transform: translate(1px, 1px) rotate(-25deg);
}

#container #main #page-nav a.extend.prev.disabled i:first-child {
	-webkit-transform: translate(-5px, 0) rotate(0deg);
    transform: translate(-5px, 0) rotate(0deg);
}

#container #main #page-nav a.extend.prev.disabled i:last-child {
	-webkit-transform: translate(-5px, 0) rotate(0deg);
    transform: translate(-5px, 0) rotate(0deg);
}

#container #main #page-nav a.extend.prev.disabled:hover i:first-child {
	-webkit-transform: translate(-5px, 0) rotate(0deg);
    transform: translate(-5px, 0) rotate(0deg);
}

#container #main #page-nav a.extend.prev.disabled:hover i:last-child {
	-webkit-transform: translate(-5px, 0) rotate(0deg);
    transform: translate(-5px, 0) rotate(0deg);
}

#container #main #page-nav a.extend.next {
  	right: 0;
}

#container #main #page-nav a.extend.next i {
	-webkit-transform-origin: 100% 50%;
  	transform-origin: 100% 50%;
}

#container #main #page-nav a.extend.next i:first-child {
	-webkit-transform: translate(0, 1px) rotate(40deg);
  	transform: translate(0, 1px) rotate(40deg);
}

#container #main #page-nav a.extend.next i:last-child {
	-webkit-transform: translate(0, -1px) rotate(-40deg);
  	transform: translate(0, -1px) rotate(-40deg);
}

#container #main #page-nav a.extend.next:hover i:first-child {
	-webkit-transform: translate(0, 1px) rotate(30deg);
  	transform: translate(0, 1px) rotate(30deg);
}

#container #main #page-nav a.extend.next:hover i:last-child {
	-webkit-transform: translate(0, -1px) rotate(-30deg);
  	transform: translate(0, -1px) rotate(-30deg);
}

#container #main #page-nav a.extend.next:active i:first-child {
	-webkit-transform: translate(1px, 1px) rotate(25deg);
  	transform: translate(1px, 1px) rotate(25deg);
}

#container #main #page-nav a.extend.next:active i:last-child {
	-webkit-transform: translate(1px, -1px) rotate(-25deg);
  	transform: translate(1px, -1px) rotate(-25deg);
}

#container #main #page-nav a.extend.next.disabled i:first-child {
	-webkit-transform: translate(5px, 0) rotate(0deg);
  	transform: translate(5px, 0) rotate(0deg);
}

#container #main #page-nav a.extend.next.disabled i:last-child {
	-webkit-transform: translate(5px, 0) rotate(0deg);
  	transform: translate(5px, 0) rotate(0deg);
}

#container #main #page-nav a.extend.next.disabled:hover i:first-child {
	-webkit-transform: translate(5px, 0) rotate(0deg);
  	transform: translate(5px, 0) rotate(0deg);
}

#container #main #page-nav a.extend.next.disabled:hover i:last-child {
	-webkit-transform: translate(5px, 0) rotate(0deg);
  	transform: translate(5px, 0) rotate(0deg);
}

#container #main #page-nav a.extend.disabled {
	opacity: 0.3;
}

	/* single article */


#container #main article .article-content p {
	font-size: 1rem;
	color: #646A70;
	line-height: 26px;
}

#container #main nav.article-nav .prev {
	position: fixed;
	width: 20%;
	height: 70%;
	top: 20%;
	left: 0;
}

#container #main nav.article-nav .next {
	position: fixed;
	width: 20%;
	height: 70%;
	top: 20%;
	right: 0;
}

#container #main nav.article-nav .prev a {
	position: relative;
	top: 34%;
	left: 40%;
	font-size: 5rem;
	color: #979DA6;
	opacity: 0.2;
}

#container #main nav.article-nav .prev:hover a {
	opacity: 0.8;
}

#container #main nav.article-nav .next a {
	position: relative;
	top: 34%;
	left: 45%;
	font-size: 5rem;
	color: #979DA6;
	opacity: 0.2;
}

#container #main nav.article-nav .next:hover a {
	opacity: 0.8;
}

/* Footer */
footer {
	position: absolute;
	bottom: 3%;
	width: 100%;
	text-align: center;
}

footer #footer p.copyright {
	display: inline-block;
	font-family: "MerriweatherSans Regular";
	font-size: 0.7rem;
	color: #898E96;
}

footer #footer p.copyright a {
	text-decoration: none;
	color: #DE9DD6;
}

footer #footer span.cr-font {
	position: fixed;
	right: 1rem;
	bottom: 0.5rem;
	font-size: 1rem;
	color: #f77e75;
	cursor: pointer;
}

/*
 * Animation
 * show all articles
 */
/*#all-articles {
	position: absolute;
	left: 1rem;
	bottom: 0.5rem;
}*/

	/* avatar animation */
@media screen and (min-width: 900px) {
	header #avatar.avatar-animation {
		position: fixed;
		left: 4rem;
		top: -4rem;
		/*-webkit-transform: scale(0.3);
		transform: scale(0.3);*/
		z-index: 10;
		-webkit-animation: avatar_animation 1s forwards;
		animation: avatar_animation 1s forwards;
	}

	@-webkit-keyframes avatar_animation {
		0% {
			left: 50%;
			top: 14rem;
		}

		100% {
			left: 4rem;
			top: -4rem;
			-webkit-transform: scale(0.3);
			transform: scale(0.3);
			z-index: 10;	
		}
	}

	@keyframes avatar_animation {
		0% {
			left: 50%;
			top: 14rem;
		}

		100% {
			left: 4rem;
			top: -4rem;
			-webkit-transform: scale(0.3);
			transform: scale(0.3);
			z-index: 10;	
		}
	}

	#author h2.subtitle-animation {
		position: fixed;
		left: 7rem;
		top: 3.7rem;
		z-index: 10;
		background: url(../img/ticks.png) repeat;
	}

	header .social-animation {
		position: fixed;
		width: 6rem;
		height: 1.3rem;
		right: 1rem;
		top: 1.3rem;
		z-index: 10;
	}

	header .social-animation .social-font {
		width: 6rem;
		height: 1.3rem;
	}

	header .social-animation .social-font a {
		font-size: 1rem;
		color: #7D848C;
	} 

	header .social-animation .social-font a:hover {
		color: #4F5359;
	}

	header .social-font a[title="zhihu"] {
		margin-left: 1rem;
	}

	header .social-font a[title="wechat"] {
		margin-left: 1rem;
	}
}

	/* footer animation */
footer.footer-animation1 {
	position: fixed;
	right: -23rem;
	bottom: 0;
	width: auto;
	-webkit-transition: right 1s;
	transition: right 1s;
}

footer.footer-animation2 {
	right: 2.5rem;
}

@media screen and (max-width: 900px) {
	header nav#nav-bar {
		position: absolute;
		top: 0;
		width: 15rem;
		height: 100%;
		background: #DBDBDB;
		text-align: center;
		font-family: "MerriweatherSans Regular";
		margin-left: -15rem;
		-webkit-transition: margin-left 0.5s;
		transition: margin-left 0.5s;
		z-index: 9;
	}

	header nav#nav-bar.stretch {
		margin-left: 0;
	}

	header nav#nav-bar ul {
		margin-top: 17rem;
		margin-left: 2.9rem;
		display: flex;
		width: 4rem;
		height: 30%;
		flex-direction: column;
		justify-content: space-between;
		list-style: none;

	}

	header nav#nav-bar ul li a {
		color: #6D727A;
		text-decoration: none;
		font-size: 0.8rem;
		font-weight: 600;
		-webkit-transition: color 0.3s;
		transition: color 0.3s;
	}

	header nav#nav-bar ul li a:hover {
	  	color: rgba(247, 126, 117, 0.9);
	}

	header #avatar.avatar-animation {
		position: absolute;
		left: 50%;
		top: 14rem;
		z-index: 10;
		-webkit-animation: avatar_animation1 0.8s forwards;
      	animation: avatar_animation1 0.8s forwards;
	}

	header #avatar.stretch1 {
		left: 7.5rem;
		-webkit-transition: margin-left 0.5s; /* 使用left无效，可能和上面的animation的forwards值有关 */
		transition: margin-left 0.5s;

	}

	header #avatar.stretch1.stretch2 {
		margin-left: -22.5rem;
	}

	@-webkit-keyframes avatar_animation1 {
		0% {
			left: 50%;
			top: 14rem;
		}

		100% {
	        left: 7.5rem;
	        top: -2rem;
	        -webkit-transform: scale(0.5);
	        transform: scale(0.5);
   		}
	}

	@keyframes avatar_animation1 {
		0% {
			left: 50%;
			top: 14rem;
		}

		100% {
	        left: 7.5rem;
	        top: -2rem;
	        -webkit-transform: scale(0.4);
	        transform: scale(0.4);
   		}
	}

	#author h2.subtitle-animation {
		position: absolute;
		left: 3rem;
		top: 4.8rem;
		z-index: 10;
		-webkit-transition: left 0.5s;
		transition: left 0.5s;
	}

	#author h2.subtitle-animation.stretch {
		left: -18rem;
	}

	header div.separator {
		position: absolute;
		left: -17.5rem;
		top: 13rem;
		width: 10rem;
		border: 1px solid rgba(247, 126, 117, 0.6);
		z-index: 10;
		-webkit-transition: margin-left 0.5s;
		transition: margin-left 0.5s;
	}

	header div.separator.stretch {
		margin-left: -17.5rem;
	}

	header div.social-animation {
  		position: absolute;
  		width: 6rem;
  		height: 1.3rem;
  		left: 4.6rem;
  		top: 33rem;
  		z-index: 10;
  		-webkit-transition: left 0.5s;
		transition: left 0.5s;
	}

	header div.social-animation.stretch {
		left: -19.5rem;
	}

	header .social-animation .social-font {
		width: 6rem;
		height: 1.3rem;
	}

	header .social-animation .social-font a {
	  	font-size: 1.2rem;
	  	color: #7D848C;
	} 

	header .social-animation .social-font a:hover {
	  	color: #4F5359;
	}

	header .social-font a[title="zhihu"] {
	 	margin-left: 1rem;
	}

	header .social-font a[title="wechat"] {
	  	margin-left: 1rem;
	}

	/* footer animation */
	footer.footer-animation1 {
	  	position: absolute;
	  	left: 3.6rem;
	  	bottom: 0;
	  	width: 8rem;
	  	z-index: 10;
	  	-webkit-transition: left 0.5s;
	  	transition: left 0.5s;
	}

	footer.footer-animation1.stretch {
		left: -18.6rem;
	}

	header #toggle {
		position: relative;
		top: -14.5rem;
		left: 0.5rem;
		width: 26px;
    	height: 13px;
    	/*margin-left: 0.5rem;*/
		-webkit-transition: left 0.5s;
		transition: left 0.5s;
		
	}

	header #toggle.stretch1 {
		top: 0.5rem;
		left: 15.5rem;
	}

	header #toggle.stretch2 {
		top: 0.5rem;
		left: 0.5rem;
	}

	header #toggle .bar {
	    position: absolute;
	    display: block;
	    width: 18px;
	    height: 1px;
	    border: 1px solid #979DA6;
	    border-radius: 1px;
	    background: #979DA6;
	}

	header #toggle .top {
	    top: 0;
	    left: 0;
	    -webkit-transition: all 0.5s;
	    transition: all 0.5s;
	}

	header #toggle .middle {
	    top: 5px;
	    -webkit-transition: all 0.5s;
	    transition: all 0.5s;
	}

	header #toggle .bottom {
	    bottom: 0;
	    left: 0;
	    -webkit-transition: all 0.5s;
	    transition: all 0.5s;
	}

	header #toggle.stretch1 .top {
	    top: 7px;
	    left: 1px;
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    -webkit-transition: all 0.5s;
	    transition: all 0.5s;
	}

	header #toggle.stretch1 .middle {
	    display: none;
	    -webkit-transition: all 0.5s;
	    transition: all 0.5s;
	}

	header #toggle.stretch1 .bottom {
	    bottom: 7px;
	    left: 1px;
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    -webkit-transition: all 0.5s;
	    transition: all 0.5s;
	}

	header #toggle.stretch1.stretch2 .top {
		top: 0;
	    left: 0;
	    -webkit-transform: rotate(0);
	    transform: rotate(0);
	}

	header #toggle.stretch1.stretch2 .middle {
		display: block;
	}

	header #toggle.stretch1.stretch2 .bottom {
		bottom: 0;
		left: 0;
		-webkit-transform: rotate(0);
	    transform: rotate(0);
	}

	body.overflow-hidden {
		overflow: hidden;
	}

	#container #main section {
		top: -5rem;
	}

	#container #main #page-nav {
		position: relative;
		top: -5rem;
  		width: 15rem;
  		height: 2.5rem;
  		margin-bottom: -5rem;
	}
}